*{
    padding: 0px;
}
main{
    flex-grow: 1;
}
table,td,th {
	border: 1px solid black;
}
tbody tr:nth-child(even) {
    background-color: #eee;
    }

 tbody tr:nth-child(odd) {
    background-color:#fadddd;
}